/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
}

.container {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 120%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    color: darkslateblue;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #76D4FF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: blue; /* 기본 링크 색상 */
    text-decoration: none; /* 밑줄 제거 (선택 사항) */
}

a:visited {
    color: blue; /* 방문한 후에도 같은 색 유지 */
}

a:hover {
    color: darkblue; /* 마우스를 올렸을 때 색상 변경 */
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

#responseMessage {
    font-size: 25px;
    font-weight: bold;
    margin: 15px;

    text-align: center;
}

/* 메시지 스타일 */
.success {
    color: darkgreen;
}

.error {
    color: red;
}
